{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Registrar usuário{% endblock %}

{% block content %}

    <a href="{% url 'colaborators:Home_Colaborator' %}">
        <i class="far fa-arrow-alt-circle-left fa-2x"></i>
    </a>
    <div class="title">
        <h1>Adicionar novo usuário</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="col-12 col-lg-6">
                            <label for="name"><strong>Nome</strong></label>
                            <input type="text" class="form-control" name="name" placeholder="Ex.: João" required>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="lastName"><strong>Sobrenome</strong></label>
                            <input type="text" class="form-control" name="lastName" placeholder="Ex.: Silva" required>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="email"><strong>Email</strong></label>
                            <input type="email" class="form-control" name="email" placeholder="Ex.: joao.silva@innova.vix.br" required>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="email2"><strong>Confirme o email</strong></label>
                            <input type="email" class="form-control" name="email2" placeholder="Repita o email" required>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="password"><strong>Senha</strong></label>
                            <input type="password" class="form-control" name="password" placeholder="Digite a senha" required>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="password2"><strong>Confirme a Senha</strong></label>
                            <input type="password" class="form-control" name="password2" placeholder="Confirme a senha" required>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-btn-success" type="submit">Criar Conta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}