{% extends 'base.html' %}

{% block title %}Minha Conta{% endblock %}

{% block content %}

    <div class="container title-user">
        <h1>Minha conta</h1>
    </div>
    <div>
        <div class="offset-1 col-10 user-div">
            <ul class="list-user">
                <li class="list-user-name">Nome:</li>
                <li class="list-user-matricula">Matrucula:</li>
                <li class="list-user-role">Cargo:</li>
                <li class="list-user-departament">Departamento:</li>
            </ul>
        </div>
    </div>

{% endblock %}