{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Novo departamento{% endblock %}

{% block content %}

    <a href="{% url 'departments:Home_Departments' %}">
        <i class="far fa-arrow-alt-circle-left fa-2x"></i>
    </a>
    <div class="title">
        <h1>Novo departamento</h1>
    </div>

    <div class="offset-1 col-3">
        <form method="POST">
            {% csrf_token %}
            {{ createDepartment|crispy }}
            <button type="submit" class="btn btn-success">Criar departamento</button>
        </form>
    </div>
    
{% endblock %}