{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
     <div class="title-home">
        <h1>Página inicial</h1>
     </div>

     <div class="container">
        <h3>
            Bem vindo {{colaborador.nome}} {{colaborador.sobrenome}}
        </h3> 
        <p>
             Módulo em construção.
             <br>
             favor utilizar o módulo de produtos para adicionar novos produtos e visualizar os já existentes.
         </p>
     </div>
{% endblock %}