/* Base */

@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15em;
    background: #7F7F7F;
    padding: 0.37em 0.88em;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 3.13em;
    width: 100%;
    align-items: center;
}

.logo_content .img-base {
    border-radius: 50%;
    margin-right: 0.31em;
}

.logo_content .logo .logo_name {
    font-size: 1.25em;
    font-weight: 400;
}

.sidebar #btn-menu {
    position: absolute;
    color: #fff;
    left: 90%;
    top: 0.37em;
    font-size: 1.25em;
    height: 3.13em;
    width: 3.13em;
    text-align: center;
    line-height: 2.5em;
    transform: translateX(-50%);
}

.sidebar ul {
    margin-top: 1.25em;
}

.sidebar ul li {
    position: relative;
    height: 3.13em;
    width: 100%;
    margin: 0 0.31em;
    list-style: none;
    line-height: 3.13em;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 0.75em;
}

.sidebar ul li a:hover {
    color: #7F7F7F;
    background: #fff;
}

.sidebar ul li a i {
    height: 3.13em;
    min-width: 3.13em;
    border-radius: 0.75em;
    line-height: 3.13em;
    text-align: center;
}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    background: #ADADAD;
}

.profile .profile_details .name_job {
    margin-left: 0.63em;
}

.profile .profile_details .name {
    font-size: 0.95em;
    font-weight: 400;
}

.profile .profile_details .job {
    font-size: 0.75em;
}

.profile .version {
    display: flex;
    font-size: 0.75em;
    background: #ADADAD;
}

.profile #logout {
    position: absolute;
    left: 88%;
    top: -0.2em;
    bottom: 0.2em;
    transform: translateX(-50%);
    min-width: 1em;
    line-height: 3.13em;
    font-size: 1.25;
    border-radius: 0.75em;
}

.home_content {
    top: 2em;
    position: absolute;
    height: 95%;
    width: 84%;
    left: 15em;
}


/* Página Home */

.home-div {
    padding: 0;
}

.table .table-hover .table-bordered .tip-products-tab {
    position: relative;
    padding: 1em;
}

/* Comum de todas as páginas */

.asteriskField {
    display: none;
}

ul.messages {
    padding: 0;
}

li.messages li {
    list-style: none;
}

/* Comum */

.title {
    font-size: 1.5em !important;
    padding: 30px;
    position: relative;
    text-align: center;
}

.icon-goback {
    margin-top: 3em;
}

.far.fa-arrow-alt-circle-left {
    margin-left: 2em;
}

/* Página Produtos */

h1 {
    padding-bottom: 0.75em;
}

.product-div {
    padding: 0;
    left: -3em;
}

ul .messages li {
    text-decoration: none;
}

.add-all {
    position: relative;
    text-decoration: none !important;
    margin-right: -0.3em;
    width: 5em;
}

.div-add-all {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.31em;
}

.fas.fa-plus.all {
    color: #fff;
    margin-right: 0.63em;
    margin-left: 0.31em;
}

a.edit-main {
    width: 6.5em;
}

a.edit-main:hover {
    text-decoration: none;
}

.edit-main-div {
    background-color: #039444;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 0.5em;
    border: 0.2em solid #fff;
    border-radius: 0.5em;
}

.fas.fa-edit {
    color: #fff;
    margin-right: 5px;
    margin-left: 10px;
}

.fas.fa-search {
    position: absolute;
    cursor: pointer;
    top:0.6em;
    right: 1.5em;
}

.search-div {
    padding: 0;
    margin-top: 1em;
    margin-left: 32em;
    margin-bottom: 1em;
    display: inline-block;
}

.ordenar {
    margin-bottom: 0.31em !important;
}

.customer-products-main-div {
    margin-bottom: 0.7em;
}

a.customer-products-main {
    position: relative;
    text-decoration: none !important;
    margin-right: -0.3em;
    width: 5em;
}

a.customer-products-main:hover {
    text-decoration: none;
}

.customer-products-main-div {
    background-color: #3476e2;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 0.5em;
    border: 0.2em solid #fff;
    border-radius: 0.5em;
    width: 13.27em;
    height: 2.65em;
    max-width: 18%;
}

.fas.fa-archive.products {
    color: #fff;
    margin-right: 5px;
    margin-left: 10px;
}

.table {
    text-align: center;
    margin-right: 0;
}

.icon.view-product {
    color: #000;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-right: 5px;
    margin-left: 5px;
}

.sem-produtos {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

/* Página Produto */

a.edit-product {
    width: 6em;
}

a.edit-product:hover {
    text-decoration: none;
}

.edit-product {
    background-color: #039444;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 0.4em;
    border-radius: 0.8em;
    margin-left: 5em;
    margin-bottom: 1em;
}

.fas.fa-edit {
    color: #fff;
    margin-right: 5px;
    margin-left: 10px;
}

.del-product-div {
    background-color: #ff0000;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 0.4em;
    border-radius: 0.8em;
}

a.del-product:hover {
    text-decoration: none;
}

.product-table {
    position: relative;
    margin-left: 4.5em;
    width: 90%;
    border: solid 4px #555;
}

.product-item {
    border: solid 2px #ddd;
}

a.download-div:hover {
    text-decoration: none;
}

.item-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.8em;
    margin-left: 7em;
    margin-right: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.file-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.8em;
}

.fas.fa-plus.add-item-button, .fas.fa-plus.add-file-button, .fas.fa-trash.del-product-button {
    margin-right: 5px;
    margin-left: 5px;
}

.download-div {
    color: #3476e2;
}

.del-div {
    color: #ff0000;
}

.del-item-div, .del-file-div {
    text-align: center;
    cursor: pointer;
    color: #ff0000;
}

a.download-item, a.download-file {
    color: #3476e2;
}

.table-items {
    align-items: center;
    padding-bottom: 1em;
}

/* Página de Adicionar */

.products {
    margin-bottom: 1em;
}

.segment {
    margin-bottom: 1em;
}

.product-tip {
    margin-bottom: 1em;
}

.category {
    margin-bottom: 1em;
}

.app-class {
    margin-bottom: 1em;
}

.add-comum {
    position: relative;
    text-decoration: none !important;
    margin-right: -0.3em;
    width: 2em;
}

.div-comum-add {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.31em;
}

.fas.fa-plus.comum {
    color: #fff;
    margin-right: 0.63em;
    margin-left: 0.31em;
}

/* Itens comuns nas páginas de Adicionar */

.btn.btn-success{
    margin-bottom: 3em;
}

/* Página de Editar */

.segment-update {
    margin-bottom: 1em;
}

.product-tip-update {
    margin-bottom: 1em;
}

.category-update {
    margin-bottom: 1em;
}

.app-class-update {
    margin-bottom: 1em;
}

.update-comum {
    position: relative;
    text-decoration: none !important;
    margin-right: -0.3em;
    width: 2em;
}

.div-comum-update {
    background-color: #039444;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.31em;
}

.fas.fa-plus.comum {
    color: #fff;
    margin-right: 0.63em;
    margin-left: 0.31em;
}

/* Comum nas páginas de edição */

.tab-comum {
    padding-bottom: 2em;
}

/* Página de excluir produto */

.title-form {
    font-size: 2em !important;
    padding: 30px;
    position: relative;
    text-align: center;
}
.confirm-delete {
    font-size: 1em !important;
    /* padding: 30px; */
    position: relative;
    text-align: center;
}


/* Página de Adicionar Item */

.document {
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

/* Página de Colaborador */

.list-user {
    list-style: none;
    padding: 0.5em;
}

.add-colaborator {
    position: relative;
    text-decoration: none !important;
    margin-right: -0.3em;
    width: 5em;
}

.add-colaborator-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.31em;
}

.add-colaborator-icon {
    margin-right: 0.3em;
}

.table-users {
    margin-top: 2em;
}

.lb-create-account {
    margin-top: 0.7em;
}

.btn.btn-success.btn-create-account {
    margin-top: 1.5em;
    border-radius: 0.5em;
}

/* Página de Departamentos */

.add-department-full {
    margin-bottom: 1em;
}

.add-department {
    position: relative;
    text-decoration: none !important;
    margin-right: -0.3em;
    width: 5em;
    right: 3.5em;
}

.add-department-div {
    text-align: center;
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.31em;
}

.add-department-icon {
    margin-right: 0.3em;
}


/* Página de Número de Série */


.fas.fa-binoculars {
    color: #fff;
    margin-right: 0.63em;
    margin-left: 0.31em;
}

.buttons-numberserie{
    width: 100%;
    text-align: center;
}

.fas.fa-key.numberSerie {
    color: #fff;
    margin-right: 0.63em;
    margin-left: 0.31em;
}

.div-serie-generate {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.31em;
    margin-bottom: 1em;
}

.table .table-striped .table-hover .table-bordered .tab-serialNumber {
    padding-bottom: 1em;
    margin-bottom: 1em;
}


/* Página de Gerar Número de Série */

.repeat{
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn.btn-success.generate {
    margin-top: 1em;
}

.search-generate {
    right: 0.8em;
    margin-bottom: 1em;
}

.select-workorder {
    margin-bottom: 1.5em;
}

.fas.fa-key.generate-numberSerie{
    color: #000;
}

/* Páginar de Ordem de Serviços */

.add-workorder-full {
    margin-bottom: 1em;
}

.add-workorder {
    position: relative;
    text-decoration: none !important;
    margin-right: -0.3em;
    width: 5em;
}

.add-workorder-div {
    text-align: center;
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.31em;
}

.add-workorder-icon {
    margin-right: 0.3em;
}

.tab-clients {
    margin-top: 2em;
}

/* Settings */

.settings {
    position: relative;
    text-decoration: none !important;
    margin-right: -0.3em;
    width: 5em;
}

.div-settings-all {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.31em;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.fas.fa-plus.all {
    color: #fff;
    margin-right: 0.63em;
    margin-left: 0.31em;
}

.offset-1.col-4.settings-segment {
    display: inline-block;
}

.offset-1.col-4.settings-tip-products {
    display: inline-block;
}

.offset-1.col-4.settings-category {
    margin-top: 5em;
    display: inline-block;
}

.offset-1.col-4.settings-class {
    margin-top: 5em;
    display: inline-block;
}
/* Fim da página */