/* Base */

@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15em;
    background: #7F7F7F;
    padding: 0.37em 0.88em;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 3.13em;
    width: 100%;
    align-items: center;
}

.logo_content .img-base {
    border-radius: 50%;
    margin-right: 0.31em;
}

.logo_content .logo .logo_name {
    font-size: 1.25em;
    font-weight: 400;
}

.sidebar #btn-menu {
    position: absolute;
    color: #fff;
    left: 90%;
    top: 0.37em;
    font-size: 1.25em;
    height: 3.13em;
    width: 3.13em;
    text-align: center;
    line-height: 2.5em;
    transform: translateX(-50%);
}

.sidebar ul {
    margin-top: 1.25em;
}

.sidebar ul li {
    position: relative;
    height: 3.13em;
    width: 100%;
    margin: 0 0.31em;
    list-style: none;
    line-height: 3.13em;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 0.75em;
}

.sidebar ul li a:hover {
    color: #7F7F7F;
    background: #fff;
}

.sidebar ul li a i {
    height: 3.13em;
    min-width: 3.13em;
    border-radius: 0.75em;
    line-height: 3.13em;
    text-align: center;
}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    background: #ADADAD;
}

.profile .profile_details .name_job {
    margin-left: 0.63em;
}

.profile .profile_details .name {
    font-size: 0.95em;
    font-weight: 400;
}

.profile .profile_details .job {
    font-size: 0.75em;
}

.profile #logout {
    position: absolute;
    left: 88%;
    bottom: 0.31em;
    transform: translateX(-50%);
    min-width: 3.3em;
    line-height: 3.13em;
    font-size: 1.25;
    border-radius: 0.75em;
}

.home_content {
    top: 2em;
    position: absolute;
    height: 95%;
    width: 84%;
    left: 15em;
}


/* Página Home */

.home-div {
    padding: 0;
}

/* Comum de todas as páginas */

.asteriskField {
    display: none;
}

ul.messages {
    padding: 0;
}

li.messages li {
    list-style: none;
}

/* Comum */

.title {
    font-size: 1.5em !important;
    padding: 30px;
    position: relative;
    text-align: center;
}

/* Página Produtos */

.product-div {
    padding: 0;
    left: -3em;
}

ul .messages li {
    text-decoration: none;
}

/* Botão de adicionar */

.add-product {
    position: relative;
    text-decoration: none !important;
    margin-right: -0.3em;
    width: 5em;
}

h1 {
    padding-bottom: 0.75em;
}

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.31em;
}


.fas.fa-plus.products {
    color: #fff;
    margin-right: 0.63em;
    margin-left: 0.31em;
}

.fas.fa-search {
    position: absolute;
    cursor: pointer;
    top:0.6em;
    right: 1.5em;
}

.search-div {
    padding: 0;
    margin-top: 1em;
    margin-left: 45em;
    margin-bottom: 1em;
    display: inline-block;
}

.ordenar {
    margin-bottom: 0.31em !important;
}

.table {
    text-align: center;
    margin-right: 0;
}

.icon.view-product {
    color: #000;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-right: 5px;
    margin-left: 5px;
}

.sem-produtos {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

/* Página Produto */

#edit-container {
    width: 100% !important;
    text-align: center;
}

a.edit-product a.del-product {
    display: inline-block !important;
}

a.edit-product {
    width: 6.5em;
}

a.edit-product:hover {
    text-decoration: none;
}

.edit-div {
    background-color: #039444;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 0.5em;
    border: 0.2em solid #fff;
    border-radius: 1em;
}

.fas.fa-edit {
    color: #fff;
    margin-right: 5px;
    margin-left: 10px;
}

.del-product-div {
    display: inline-block;
    background-color: #ff0000;
    cursor: pointer;
    color: #fff;
    
    padding: 0.5em;
    bottom: 2.7em;
    margin-left: 60em;
    border-radius: 1em;
}

a.del-product:hover {
    text-decoration: none;
}

.product-table {
    position: relative;
    margin-left: 4.5em;
    width: 90%;
    border: solid 4px #555;
}

.product-item {
    border: solid 2px #ddd;
}

.add {  
    margin-top: 2em;
}

a.download-div:hover {
    text-decoration: none;
}

.item-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 1em;
}

.file-div {
    background-color: #3476e2;
    cursor: pointer;
    color: #fff;
    bottom: 2.5em;
    padding: 0.5em;
    margin-left: 12em;
    border-radius: 1em;
    display: inline-block;
}

.fas.fa-plus.add-item-button, .fas.fa-plus.add-file-button, .fas.fa-trash.del-product-button {
    margin-right: 5px;
    margin-left: 5px;
}

.download-div {
    color: #3476e2;
}

.del-div {
    color: #ff0000;
}

.del-item-div, .del-file-div {
    text-align: center;
    cursor: pointer;
    color: #ff0000;
}

a.download-item, a.download-file {
    color: #3476e2;
}

.table-items {
    padding-bottom: 1em;
}

/* Itens comuns nas páginas de Adicionar */

.btn.btn-success{
    margin-bottom: 3em;
}

/* Página de Adicionar Item */

.document {
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

/* Página de Colaborador */

.list-user {
    list-style: none;
    padding: 0.5em;
}

.add-colaborator {
    position: relative;
    text-decoration: none !important;
    margin-right: -0.3em;
    width: 5em;
}

.add-colaborator-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.31em;
}

.table-users {
    margin-top: 2em;
}

/* Página de Número de Série */


.fas.fa-binoculars {
    color: #fff;
    margin-right: 0.63em;
    margin-left: 0.31em;
}

.buttons-numberserie{
    width: 100%;
    text-align: center;
}

.fas.fa-key.numberSerie {
    color: #fff;
    margin-right: 0.63em;
    margin-left: 0.31em;
}

.div-serie-generate {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.31em;
}

/* Página de Gerar Número de Série */

.btn.btn-success.generate {
    margin-top: 1em;
}

.search-generate {
    right: 0.8em;
    margin-bottom: 1em;
}

.fas.fa-key.numberSerie{
    color: #000;
}