{% extends 'base.html' %}

{% block title %}Configurações{% endblock %}

{% block content %}

    <a href="{% url 'settings:Settings_Main' %}">
        <i class="far fa-arrow-alt-circle-left fa-2x"></i>
    </a>        
    <div class="container title">
        <h1>Configurações de Produtos</h1>
    </div>
    
    <div class="offset-1 col-4 settings-segment">
        <h3>Segmentos</h3>
        <div class="products">
            <a href="{% url 'products:New_Segment' %}" class="add-comum"> 
                <div class="col-3 div-comum-add">
                    <i class="fas fa-plus comum"></i>Adicionar
                </div>
            </a>
        </div>
        <table class="table table-striped table-hover table-bordered tab-segment-settings">
            <thead>
                <tr>
                    <th scope="col">nome</th>
                    <th scope="col">sigla</th>
                    <th scope="col" class="col-sm-1">
                        <div class="col">
                            <i class="far fa-edit"></i>
                        </div>
                    </th>
                    <th scope="col" class="col-sm-1">
                        <div class="col">
                            <i class="fas fa-trash"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for settingsSegment in settingsSegments %}
                <tr scope="row">
                    <td>
                        {{ settingsSegment.nome }}
                    </td>
                    <td>
                        {{ settingsSegment.sigla }}
                    </td>
                    <td>
                        <a href="{% url 'products:Update_Segment_Products' settingsSegment.id %}" class="icon">
                            <div class="col">
                                <i class="far fa-edit"></i>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'products:Delete_Segment_Product' settingsSegment.id %}" class="icon">
                            <div class="col">
                                <i class="fas fa-trash"></i>
                            </div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if settingsSegments.has_previous %}
                    <a href="?page={{settingsSegments.previous_page_number}}" class="fas fa-arrow-left"></a>
                {% endif %}
                
                {% if settingsSegments.paginator.num_pages %}
                <span class="current">
                    {{settingsSegments.number}} de {{settingsSegments.paginator.num_pages}}
                </span>
                {% endif %}

                {% if settingsSegments.has_next %}
                    <a href="?page={{settingsSegments.next_page_number}}" class="fas fa-arrow-right"></a>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="offset-1 col-4 settings-tip-products">
        <h3>Tipos de Produto</h3>
        <div class="products">
            <a href="{% url 'products:New_Product_Tip' %}" class="add-comum"> 
                <div class="col-3 div-comum-add">
                    <i class="fas fa-plus comum"></i>Adicionar
                </div>
            </a>
        </div>
        <table class="table table-striped table-hover table-bordered tab-tipproducts-settings">
            <thead>
                <tr>
                    <th scope="col">nome</th>
                    <th scope="col">sigla</th>
                    <th scope="col" class="col-sm-1">
                        <div class="col">
                            <i class="far fa-edit"></i>
                        </div>
                    </th>
                    <th scope="col" class="col-sm-1">
                        <div class="col">
                            <i class="fas fa-trash"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for settingsTipProduct in settingsTipProducts %}
                <tr scope="row">
                    <td>
                        {{ settingsTipProduct.nome }}
                    </td>
                    <td>
                        {{ settingsTipProduct.sigla }}
                    </td>
                    <td>
                        <a href="{% url 'products:Update_ProductTip_Products' settingsTipProduct.id %}" class="icon">
                            <div class="col">
                                <i class="far fa-edit"></i>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'products:Delete_ProductTip_Product' settingsTipProduct.id %}" class="icon">
                            <div class="col">
                                <i class="fas fa-trash"></i>
                            </div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    

        <div class="pagination">
            <span class="step-links">
                {% if settingsTipProducts.has_previous %}
                    <a href="?page2={{settingsTipProducts.previous_page_number}}" class="fas fa-arrow-left"></a>
                {% endif %}
                
                {% if settingsTipProducts.paginator.num_pages %}
                <span class="current">
                    {{settingsTipProducts.number}} de {{settingsTipProducts.paginator.num_pages}}
                </span>
                {% endif %}

                {% if settingsTipProducts.has_next %}
                    <a href="?page2={{settingsTipProducts.next_page_number}}" class="fas fa-arrow-right"></a>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="offset-1 col-4 settings-category">
        <h3>Categorias</h3>
        <div class="products">
            <a href="{% url 'products:New_Category' %}" class="add-comum"> 
                <div class="col-3 div-comum-add">
                    <i class="fas fa-plus comum"></i>Adicionar
                </div>
            </a>
        </div>
        <table class="table table-striped table-hover table-bordered tab-category-settings">
            <thead>
                <tr>
                    <th scope="col">nome</th>
                    <th scope="col">sigla</th>
                    <th scope="col" class="col-sm-1">
                        <div class="col">
                            <i class="far fa-edit"></i>
                        </div>
                    </th>
                    <th scope="col" class="col-sm-1">
                        <div class="col">
                            <i class="fas fa-trash"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for settingsCategory in settingsCategories %}
                <tr scope="row">
                    <td>
                        {{ settingsCategory.nome }}
                    </td>
                    <td>
                        {{ settingsCategory.sigla }}
                    </td>
                    <td>
                        <a href="{% url 'products:Update_Category_Products' settingsCategory.id %}" class="icon">
                            <div class="col">
                                <i class="far fa-edit"></i>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'products:Delete_Category_Product' settingsCategory.id %}" class="icon">
                            <div class="col">
                                <i class="fas fa-trash"></i>
                            </div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    

        <div class="pagination">
            <span class="step-links">
                {% if settingsCategories.has_previous %}
                    <a href="?page3={{settingsCategories.previous_page_number}}" class="fas fa-arrow-left"></a>
                {% endif %}
                
                {% if settingsCategories.paginator.num_pages %}
                <span class="current">
                    {{settingsCategories.number}} de {{settingsCategories.paginator.num_pages}}
                </span>
                {% endif %}

                {% if settingsCategories.has_next %}
                    <a href="?page3={{settingsCategories.next_page_number}}" class="fas fa-arrow-right"></a>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="offset-1 col-4 settings-class">
        <h3>Classes</h3>
        <div class="products">
            <a href="{% url 'products:New_Class' %}" class="add-comum"> 
                <div class="col-3 div-comum-add">
                    <i class="fas fa-plus comum"></i>Adicionar
                </div>
            </a>
        </div>
        <table class="table table-striped table-hover table-bordered tab-classes-settings">
            <thead>
                <tr>
                    <th scope="col">nome</th>
                    <th scope="col">sigla</th>
                    <th scope="col" class="col-sm-1">
                        <div class="col">
                            <i class="far fa-edit"></i>
                        </div>
                    </th>
                    <th scope="col" class="col-sm-1">
                        <div class="col">
                            <i class="fas fa-trash"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="#">
                {% for settingsClass in settingsClasses %}
                <tr scope="row">
                    <td>
                        {{ settingsClass.nome }}
                    </td>
                    <td>
                        {{ settingsClass.sigla }}
                    </td>
                    <td>
                        <a href="{% url 'products:Update_Class_Products' settingsClass.id %}" class="icon">
                            <div class="col">
                                <i class="far fa-edit"></i>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'products:Delete_Class_Product' settingsClass.id %}" class="icon">
                            <div class="col">
                                <i class="fas fa-trash"></i>
                            </div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    

        <div class="pagination">
            <span class="step-links">
                {% if settingsClasses.has_previous %}
                    <a href="?page4={{settingsClasses.previous_page_number}}" class="fas fa-arrow-left"></a>
                {% endif %}
                
                {% if settingsClasses.paginator.num_pages %}
                <span class="current">
                    {{settingsClasses.number}} de {{settingsClasses.paginator.num_pages}}
                </span>
                {% endif %}

                {% if settingsClasses.has_next %}
                    <a href="?page4={{settingsClasses.next_page_number}}" class="fas fa-arrow-right"></a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock %}