/* Base */

@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15em;
    background: #7F7F7F;
    padding: 0.37em 0.88em;
}

/* Página Produtos */

/* Botão de adicionar */
.add-product {
    text-decoration: none;
    margin-right: 30px;
    width: 5em;
}

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus.products {
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

.search-div {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.product-div {
    padding: 0;
}

.table {
    text-align: center;
}

.icon.view-product, .edit-product {
    color: #000;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-right: 5px;
    margin-left: 5px;
}

/* Página Produto */

.title-product {
    font-size: 1.5em !important;
    padding: 30px;
    position: relative;
    text-align: center;
}
.product-single {
    border: 0.1em solid #bbb;
}

.product-title {
    border: 0.1em solid #111;
}

a.edit-product {
    
    display: block;
    width: 6.5em;
}

a.edit-product:hover {
    text-decoration: none;
}

.edit-div {
    background-color: #039444;
    cursor: pointer;
    color: #fff;
    width: 6.5em;

    
    border: 0.2em solid #fff;
    border-radius: 1em;
}

.fas.fa-edit {
    color: #fff;
    margin-right: 5px;
    margin-left: 10px;
}

.add {  
    margin-top: 2em;
}

.item-div {
    background-color: #7F7F7F;
    cursor: pointer;
    color: #fff;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 1em;
    display: inline-block;
}

.file-div {
    background-color: #7F7F7F;
    cursor: pointer;
    color: #fff;
    padding: 0.5em;
    margin-bottom: 0.9em;
    border-radius: 1em;
    display: inline-block;
}

.fas.fa-plus.add-item-button, .fas.fa-plus.add-file-button {
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
}

/* Fim da página Produto */