{% extends 'base.html' %}

{% block title %}Ordem de Serviços{% endblock %}

{% block content %}
        
    <div class="container title">
        <h1>Ordem de Serviços</h1>
    </div>

    <div class="offset-1 col-9">
        <div class="container add-workorder-full">
            <a href="#" class="add-workorder">
                <div class="col-3 add-workorder-div">
                    <i class="fas fa-plus add-workorder-icon"></i>Adicionar Usuário
                </div>
            </a>
        </div>
    </div>
    
{% endblock %}