{% extends 'base.html' %}

{% block title %}Ordem de Serviços{% endblock %}

{% block content %}
        
    <div class="container title">
        <h1>Ordem de Serviços</h1>
    </div>

    <div class="offset-1 col-9">
        <div class="container add-workorder-full">
            <a href="{% url 'workOrder:New_WorkOrder' %}" class="add-workorder">
                <div class="col-3 add-workorder-div">
                    <i class="fas fa-plus add-workorder-icon"></i>Adicionar Ordem de Serviço
                </div>
            </a>
        </div>

        <table class="table table-striped table-hover table-bordered col-6">
            <thead>
                <th scope="col">Ordem de Serviço</th>
                <th scope="col">Data de Criação</th>
            </thead>
             <tbody>
                {% for workOrder in workOrders %}
                    <tr scope="row">
                        <td>
                            {{ workOrder.OS }}
                        </td>
                        <td>
                            {{ workOrder.dateCriacao|date:"d/m/Y" }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if workOrders.has_previous %}
                    <a href="?page={{workOrders.previous_page_number}}" class="fas fa-arrow-left"></a>
                {% endif %}
                
                {% if workOrders.paginator.num_pages %}
                <span class="current">
                    {{workOrders.number}} de {{workOrders.paginator.num_pages}}
                </span>
                {% endif %}

                {% if workOrders.has_next %}
                    <a href="?page={{workOrders.next_page_number}}" class="fas fa-arrow-right"></a>
                {% endif %}
            </span>
        </div>

    </div>
    
{% endblock %}