{% extends 'base.html' %}

{% block title %}Ordem de Serviços{% endblock %}

{% block content %}
        
    <div class="container title">
        <h1>Ordem de Serviços</h1>
    </div>

    <div class="offset-1 col-9">
        <div class="container add-workorder-full">
            <a href="#" class="add-workorder">
                <div class="col-3 add-workorder-div">
                    <i class="fas fa-plus add-workorder-icon"></i>Adicionar Usuário
                </div>
            </a>
        </div>

        <table class="table table-striped table-hover table-bordered col-6">
            <thead>
                <th scope="col">Número de Série</th>
                <th scope="col">Produto Relacionado</th>
            </thead>
             <tbody>
                <tr scope="row">
                    <td>
                        2021CG301501
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                {% comment %} {% for department in object_list %}
                        <td>
                            {{ department.nome }}
                        </td>
                {% endfor %} {% endcomment %}
            </tbody>
        </table>

    </div>
    
{% endblock %}