{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/bs/bootstrap.css'%}">

</head>
<body>
    {%if user.is_authenticated%}
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class="fas fa-balance-scale"></i>
                <div class="logo_name">Innova</div>
            </div>
            <i class="fas fa-bars" id="btn-menu"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="{%url 'Home'%}">
                    <i class="fas fa-grip-vertical"></i>
                    <span class="link_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{%url 'Products'%}">
                    <i class="fas fa-archive"></i>
                    <span class="link_name">Produtos</span>
                </a>
            </li> 
            <li>
                <a href="{%url 'Colaborator'%}">
                    <i class="fas fa-user"></i>
                    <span class="link_name">Usuários</span>
                </a>
            </li>
            <li>
                <a href="{%url 'Departments'%}">
                    <i class="fas fa-building"></i>
                    <span class="link_name">Departamentos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <span class="link_name">Configurações</span>
                </a>
            </li>
        </ul>
        
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <div class="name_job">
                        <div class="name">{{colaborator.nome}}</div>
                        <div class="job">{{department.nome}}</div>
                    </div>
                </div>
                <a href="{%url 'logout'%}">
                    <i class="fas fa-sign-out-alt" id="logout"></i>
                </a>
            </div>
        </div>
    </div>
    {%endif%}

    <div class="home_content">
        {% block content %}
        {% endblock %}
    </div>

    <script scr="{% static 'js/script.js' %}"></script>
    <script
        src="https://code.jquery.com/jquery-2.1.2.js"
        integrity="sha256-B8sHvfukDO/4abMp60ju7eQXQLps6DPdODC9CvSeSJg="
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bs/bootstrap.js' %}"></script>
    <script src="https://kit.fontawesome.com/8f8a4bcfa0.js" crossorigin="anonymous"></script>
</body>
</html>