/* Header */

.nav-item {
    position: relative;
    margin: center; 
}

/* Produtos */

#FormGerarProduto {
    width: 25%;
}

#BtnGerarProduto {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Botão de adicionar */

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus {
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

#add-product {
    text-decoration: none;
}

/* Fim do botão de adicionar */

/* Search */

.search-div {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.fas.fa-search {
    position: absolute;
    top: 16px;
    right: 26px;
}

/* Fim do search */

/* Lista de produtos */

.product-div {
    padding: 0;
}

.product-list {
    padding-left: 0;
}

.product.item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px #202020;
}

.fas.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

/* Fim da Lista de produtos */

/* Footer */

footer {
    margin-top: 150px;
    background-color: #76777B;
    height: 100px;
    border-top: 2px solid #202020;
    bottom: 0;    
}

footer p {
    color: #f5f5f5;
    text-align: center;
    top: 40%;
    position: relative;
}