@charset "UTF-8";
/* Header */

.nav-item {
    position: relative;
    margin: center; 
}

/* Página Produtos */

/* Botão de adicionar */

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus {
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

.add-product {
    text-decoration: none;
    margin-right: 30px;
}

.search-div {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.product-div {
    padding: 0;
}

.table {
    text-align: center;
}

.icon.view-product, .edit-product {
    color: #000;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-right: 5px;
    margin-left: 5px;
}

/* Página Produto */

.title-product {
    padding: 30px;
    position: relative;
    text-align: center;
}

.product-single {
    border: 1px;
}


/* Fim da página Produto */

/* Fim da página Produtos */

/* Página Add Produtos */



/* Fim da página Add Produtos */