{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Adicionar Itens{% endblock %}

{% block content %}

    <div class="container title">
        <h1>Adicionar itens</h1>
    </div>

    <div class="offset-1 col-9 product-div">
        
        <div class="products">
            <a href="{% url 'products:New_Products' %}" class="add-comum"> 
                <div class="col-3 div-comum-add">
                    <i class="fas fa-plus comum"></i>Adicionar Produto
                </div>
            </a>
        </div>

        <div class="segment">
            <a href="{% url 'products:New_Segment' %}" class="add-comum"> 
                <div class="col-3 div-comum-add">
                    <i class="fas fa-plus comum"></i>Adicionar Segmento
                </div>
            </a>
        </div>
        
        <div class="product-tip">
            <a href="{% url 'products:New_Product_Tip' %}" class="add-comum"> 
                <div class="col-3 div-comum-add">
                    <i class="fas fa-plus comum"></i>Adicionar Tipo de Produto
                </div>
            </a>
        </div>
        
        <div class="category">
            <a href="{% url 'products:New_Category' %}" class="add-comum"> 
                <div class="col-3 div-comum-add">
                    <i class="fas fa-plus comum"></i>Adicionar Categoria
                </div>
            </a>
        </div>
        
        <div class="app-class">
            <a href="{% url 'products:New_Class' %}" class="add-comum"> 
                <div class="col-3 div-comum-add">
                    <i class="fas fa-plus comum"></i>Adicionar Classe de Aplicação
                </div>
            </a>
        </div>
    </div>

{% endblock %}