{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Novo Item{% endblock %}

{% block content %}

    <a href="#">
        <i class="far fa-arrow-alt-circle-left fa-2x"></i>
    </a>
    <div class="title">
        <h1>Adicionar novo arquivo</h1>
    </div>
    <div class="offset-1 col-3 list-div">
        <form method="POST", enctype="multipart/form-data">
            {% csrf_token %}
            {{ fileForm|crispy }}
            <input type="submit" class="btn btn-success" value="Criar arquivo">
        </form>

{% endblock %}