{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Geração de Número de Série{% endblock %}

{% block content %}

    <a href="{% url 'products:Serial_Number' %}">
        <i class="far fa-arrow-alt-circle-left fa-2x"></i>
    </a>
    <div class="container title">
        <h1> Gerar Número de Série</h1>
    </div>

    <div class="offset-1 col-6 body-generate">
        <form method="GET" class="col-5 search-generate">
            <input class="form-control" type="text" id="generate" name="generate" placeholder="Digite o nome do produto">
            <i class="fas fa-search" id="search-button"></i>
        </form>
        
        {% if products|length > 0 %}

        <table class="table table-striped table-hover table-bordered tab-generate">
            <thead>
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Equipamento</th>
                    {% comment %} <th scope="col">Código</th>
                    <th scope="col">Segmento</th> {% endcomment %}
                    <th scope="col">Volume</th>
                    <th scope="col">Largura</th>
                    <th scope="col">Lâmina</th>
                    <th scope="col">Gerar</th>
                </th>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr scope="row">
                        <td>
                            {{product.nome}}
                        </td>
                        <td>
                            {{product.equipamento}}
                        </td>
                        {% comment %} <td>
                            {{product.codigo}}
                        </td>
                        <td>
                            {{product.segmento}}
                        </td> {% endcomment %}
                        <td>
                            {{product.capacidade}}
                        </td>
                        <td>
                            {{product.largura}}
                        </td>
                        <td>
                            {{product.lamina}}
                        </td>
                        <td>
                            <a href="{% url 'products:Generate_Single_SerialNumber' product.id %}" class="icon generate-serial" onclick="confirmButton()">
                                <div class="col">
                                    <i class="fas fa-key generate-numberSerie"></i>
                                </div>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
            
            <div class="sem-produtos">
                Nenhum produto cadastrado!
            </div>

        {% endif %}

        <div class="pagination">
            <span class="step-links">
                {% if products.has_previous %}
                    <a href="?page={{products.previous_page_number}}" class="fas fa-arrow-left"></a>
                {% endif %}
                
                {% if products.paginator.num_pages %}
                <span class="current">
                    {{products.number}} de {{products.paginator.num_pages}}
                </span>
                {% endif %}

                {% if products.has_next %}
                    <a href="?page={{products.next_page_number}}" class="fas fa-arrow-right"></a>
                {% endif %}
                </span>
            </div>
        </div>


        <form method="GET">

        </forms>

        {% comment %} <input type="submit" class="btn btn-success generate" value="Gerar Número de Séire"> {% endcomment %}
    </div>

{% endblock %}