{% extends 'base.html' %}

{% block title %}Produtos{% endblock %}

{% block content %}
        
    <div class="container title-products">
        <h1>Produtos</h1>
    </div>
    
    <div class="offset-1 col-10 product-div">
        <a href="{% url 'products:New_Products' %}" class="add-product"> 
            <div class="col-2 add-div">
                <i class="fas fa-plus products"></i>Adicionar Produto
            </div>
        </a>

        {% if product in products %}

        <div class="col-3 search-div">
            <form method="GET" id="search-form">
                <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do produto">
                <i class="fas fa-search" id="search-button"></i>
            </form>
        </div>

        {% endif %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>
                        {{message}}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if product in products %}

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Num. Série</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Equipamento</th>
                    <th scope="col">Código</th>
                    <th scope="col">Segmento</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Largura</th>
                    <th scope="col">Lâmina</th>
                    <!-- <th scope="col">PartNumber</th> -->
                    <th scope="col" class="col-sm-1">Visualizar</th>
                    <!-- <th scope="col">Editar</th> -->
                </tr>
            </thead>
            <tbody id="product-table">
                {% for product in products %}
                <tr scope="row">
                    <td>
                        {{product.numeroSerie}}
                    </td>
                    <td>
                        {{product.nome}}
                    </td>
                    <td>
                        {{product.equipamento}}
                    </td>
                    <td>
                        {{product.codigo}}
                    </td>
                    <td>
                        {{product.segmento}}
                    </td>
                    <td>
                        {{product.capacidade}}
                    </td>
                    <td>
                        {{product.largura}}
                    </td>
                    <td>
                        {{product.lamina}}
                    </td>
                    <td>
                        <a href="{% url 'products:View_Product' product.id %}" class="icon view-product">
                            <div class="col">
                                <i class="far fa-eye"></i>
                            </div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}

            <div class="sem-produtos">
                Nenhum produto cadastrado!
            </div>

        {% endif %}

        <div class="pagination">
            <span class="step-links">
                {% if products.has_previous %}
                    <a href="?page={{products.previous_page_number}}" class="fas fa-arrow-left"></a>
                {% endif %}
                
                {% if products.paginator.num_pages %}
                <span class="current">
                    {{products.number}} de {{products.paginator.num_pages}}
                </span>
                {% endif %}

                {% if products.has_next %}
                    <a href="?page={{products.next_page_number}}" class="fas fa-arrow-right"></a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}