{% extends 'base.html' %}

{% block title %}{{product.nome}}{% endblock %}

{% block content %}

    <div class="title-product">
        <h1>{{product.nome}}</h1>
    </div>
    <div class="container">
        <a href="{% url 'Update_Product' product.id %}" class="edit-product">
            <div class="edit-div">
                <i class="fas fa-edit"></i>Editar
            </div>
        </a>
    </div>

    <table class="product-table">
        <tbody>
            <tr>
                <td class=" col-2 product-item-title">
                    ID:
                </td>
                <td class="col-3 product-item">
                    {{product.id}}
                </td>
                <td class="col-2 product-item">
                    Segmento
                </td>
                <td class="col-3 product-item">
                    {% if product.segmento == 'A' %}
                        Agrícola
                    {% elif product.segmento == 'C' %}
                        Construção
                    {% elif product.segmento == 'F' %}
                        Florestal
                    {% elif product.segmento == 'I' %}
                        Indústria
                    {% elif product.segmento == 'U' %}
                        Indústria Automotiva
                    {% elif product.segmento == 'M' %}
                        Mineiração
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="col-2 product-item">
                    Nome:
                </td>
                <td class="col-3 product-item">
                    {{product.nome}}
                </td>
                <td class="col-2 product-item">
                    Equipamento:
                </td>
                <td class="col-3 product-item">
                    {{product.equipamento}}
                </td>
            </tr>
            <tr>
                <td class="col-2 product-item">
                    Acessório:
                </td>
                <td class="col-3 product-item">
                    {% if product.codigo == 'AC' %}
                        Acessório
                    {% elif product.codigo == 'CC' %}
                        Carregadeira
                    {% elif product.codigo == 'CD' %}
                        Chapa de desgaste
                    {% elif product.codigo == 'CB' %}
                        Chock Bar
                    {% elif product.codigo == 'DF' %}
                        Dispositivos e ferramentas
                    {% elif product.codigo == 'ER' %}
                        Engate rápido
                    {% elif product.codigo == 'CE' %}
                        Escavadeira
                    {% elif product.codigo == 'FP' %}
                        Ferramenta de penetração de solo
                    {% elif product.codigo == 'GA' %}
                        Garfo
                    {% elif product.codigo == 'CG' %}
                        Graniteira
                    {% elif product.codigo == 'LA' %}
                        Lâmina
                    {% elif product.codigo == 'LN' %}
                        Lança
                    {% elif product.codigo == 'RI' %}
                        Ripper
                    {% elif product.codigo == 'SG' %}
                        Segmento
                    {% elif product.codigo == 'VA' %}
                        Vala
                    {% elif product.codigo == 'SE' %}
                        Serviço
                    {% endif %}
                </td>
                <td class="col-2 product-item">
                    Classe:
                </td>
                <td class="col-3 product-item">
                    {{product.classe}}
                </td>
            </tr>
            <tr>
                <td class="col-2 product-item">
                    Capacidade:
                </td>
                <td class="col-2 product-item">
                    {{product.capacidade}}
                </td>
                <td class="col-2 product-item">
                    Largura:
                </td>
                <td class="col-2 product-item">
                    {{product.largura}}
                </td>
            </tr>
            <tr>
                <td class="col-2 product-item">
                    Lâmina:
                </td>
                <td class="col-2 product-item">
                    {{product.lamina}}
                </td>
                <td class="col-2 product-item">
                    Peso:
                </td>
                <td class="col-2 product-item">
                    {{product.peso}}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container add">
        <a href="{% url 'New_Item' %}" class="add-item">
            <div class="col-2 item-div">
                <i class="fas fa-plus add-item-button"></i>Adicionar Item
            </div>
        </a>
    </div>  

    <div class="container">
        <a href="{% url 'New_File' %}" class="add-file">
            <div class="col-2 file-div">
                <i class="fas fa-plus add-file-button"></i>Adicionar Arquivo
            </div>
        </a>
    </div>

    <div class="container table-items">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Revisao</th>
                    <th scope="col">PartNumber</th>
                    <th scope="col">Tipo de fabricação</th>
                </tr>
            </thead>
            {% for item in items %}
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>{{items.id}}</td>
                    <td>{{items.nome}}</td>
                    <td>{{items.tipo}}</td>
                    <td>{{items.revisao}}</td>
                    <td>{{items.partNumber}}</td>
                    <td>{{items.tipoFabricacao}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>


    

{% endblock %}