{% extends 'base.html' %}

{% block title %}Produtos{% endblock %}

{% block content %}
        
    <div class="container title">
        <h1>Produtos</h1>
    </div>
    
    <div class="offset-1 col-10 add-all-div">
        <a href="{% url 'products:Add_All_Products' %}" class="add-all">
            <div class="col-2 div-add-all">
                <i class="fas fa-plus all"></i>Adicionar
            </div>
        </a>

        <a href="{% url 'products:Update_All_Product' %}" class="edit-main">
            <div class="edit-main-div">
                <i class="fas fa-edit"></i>Editar
            </div>
        </a>

        {% if products|length > 0 %}

        <div class="col-3 search-div">
            <form method="GET" id="search-form">
                <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do produto">
                <i class="fas fa-search" id="search-button"></i>
            </form>
        </div>

        {% endif %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>
                        {{message}}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="GET">
            <label for="order">Ordenar por:</label>

            <select id="order">
                <option label="Produto">Produto</option>
                <option label="Equipamento">Equipamento</option>
                <option label="Código">Codigo</option>
                <option label="Segmento">Segmento</option>
            </select>
            <input type="submit" class="btn btn-success ordenar" id="order" value="Ordenar">
        </form>

        <a href="{% url 'products:Customer_Products' %}" class="customer-products-main">
            <div class="customer-products-main-div">
                <i class="fas fa-archive products"></i>Produto de Cliente
            </div>
        </a>

        <table class="table table-striped table-hover table-bordered tab-products">
            <thead>
                <tr>
                    {% comment %} <th scope="col">Num. Série</th> {% endcomment %}
                    <th scope="col">Produto</th>
                    <th scope="col">Equipamento</th>
                    <th scope="col">Código</th>
                    <th scope="col">Segmento</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Largura</th>
                    <th scope="col">Espessura</th>
                    <th scope="col">Descontinuado</th>
                    <th scope="col" class="col-sm-1">Visualizar</th>
                </tr>
            </thead>
            <tbody id="product-table">
                {% for product in products %}
                <tr scope="row">
                    {% comment %} <td>
                        {{product.numeroSerie}}
                    </td> {% endcomment %}
                    <td>
                        {{product.nome}}
                    </td>
                    <td>
                        {{product.equipamento}}
                    </td>
                    <td>
                        {{product.tipoProduto.sigla}}
                    </td>
                    <td>
                        {{product.segmento}}
                    </td>
                    <td>
                        {{product.capacidade}}
                    </td>
                    <td>
                        {{product.largura}}
                    </td>
                    <td>
                        {{product.espessura}}
                    </td>
                    <td>
                        {% if product.descontinuado == 0 %}
                            Não
                        {% else %}
                            Sim
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'products:View_Product' product.id %}" class="icon view-product">
                            <div class="col">
                                <i class="far fa-eye"></i>
                            </div>
                        </a>
                    </td>
                </tr>
                {% empty %}
                    <li>Nenhum produto cadastrado.</li>
                {% endfor %}
            </tbody>
        </table>



        <div class="pagination">
            <span class="step-links">
                {% if products.has_previous %}
                    <a href="?page={{products.previous_page_number}}" class="fas fa-arrow-left"></a>
                {% endif %}
                
                {% if products.paginator.num_pages %}
                <span class="current">
                    {{products.number}} de {{products.paginator.num_pages}}
                </span>
                {% endif %}

                {% if products.has_next %}
                    <a href="?page={{products.next_page_number}}" class="fas fa-arrow-right"></a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock %}