{% extends 'base.html' %}

{% block title %}{{ product.nome }}{% endblock %}

{% block content %}

    <div class="title">
        <h1>{{ product.nome }}</h1>
    </div>

    <div class="offset-1 col-10 product-div">
        <a href="{% url 'products:Update_Product' product.id %}" class="edit-product">
            <div class="edit-div">
                <i class="fas fa-edit"></i>Editar
            </div>
        </a>

        <a href="{% url 'products:Delete_Product' product.id %}" class="del-product confirm-delete">
            <div class="col-2 del-product-div">
                <i class="fas fa-trash del-product-button"></i>Deletar Produto
            </div>
        </a>

        <table class="product-table">
            <tbody>
                <tr>
                    <td class=" col-2 product-item-title">
                        Ativo:
                    </td>
                    <td class="col-3 product-item">
                        {% if product.descontinuado == 0 %}
                            Sim
                        {% else %}
                            Não
                        {% endif %}
                    </td>
                    <td class="col-2 product-item-title">
                        Segmento:
                    </td>
                    <td class="col-3 product-item">
                        {{ product.segmento }}
                    </td>
                </tr>
                <tr>
                    <td class="col-2 product-item-title">
                        Nome:
                    </td>
                    <td class="col-3 product-item">
                        {{ product.nome }}
                    </td>
                    <td class="col-2 product-item-title">
                        Equipamento:
                    </td>
                    <td class="col-3 product-item">
                        {{ product.equipamento }}
                    </td>
                </tr>
                <tr>
                    <td class="col-2 product-item-title">
                        Acessório:
                    </td>
                    <td class="col-3 product-item">
                        {{ product.tipoProduto }}
                    </td>
                    <td class="col-2 product-item-title">
                        Categoria:
                    </td>
                    <td class="col-3 product-item">
                        {% if product.categoria %}
                            {{ product.categoria }}
                        {% else %}
                            Sem categoria
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="col-2 product-item-title">
                        Capacidade:
                    </td>
                    <td class="col-2 product-item">
                        {{ product.capacidade }} Ton
                    </td>
                    <td class="col-2 product-item-title ">
                        Largura:
                    </td>
                    <td class="col-2 product-item">
                        {{ product.largura }} mm
                    </td>
                </tr>
                <tr>
                    <td class="col-2 product-item-title">
                        Espessua:
                    </td>
                    <td class="col-2 product-item">
                        {{ product.espessura }} mm
                    </td>
                    <td class="col-2 product-item-title">
                        Peso:
                    </td>
                    <td class="col-2 product-item">
                        {{ product.peso }} Kg
                    </td>
                </tr>
                <tr>
                    <td class="col-2 product-item-title">
                        Data de criação:
                    </td>
                    <td class="col-2 product-item">
                        {{ product.dateCriacao }}
                    </td>
                    <td class="col-2 product-item-title">
                        Última modificação:
                    </td>
                    <td class="col-2 product-item">
                        {{ product.dateUpdate }}
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="{% url 'products:New_Item' product.id %}" class="add-item">
            <div class="col-2 item-div">
                <i class="fas fa-plus add-item-button"></i>Adicionar Pack
            </div>
        </a>

        <a href="{% url 'products:New_File' product.id %}" class="add-file">
            <div class="col-2 file-div">
                <i class="fas fa-plus add-file-button"></i>Adicionar Arquivo
            </div>
        </a>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- <div class="container download">
            <a href="#" class="download-all">
                <div class="col download-all-div">
                    <i class="fas fa-download download-all-button"></i>
                </div>
            </a>
        </div> -->

        <div class="container table-items">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Revisao</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">PartNumber</th>
                        <th scope="col">Tipo de fabricação</th>
                        <th scope="col">Data de Criação</th>
                        <th scope="col">
                            <div class="col partnumber-div">
                                <i class="fas fa-clipboard-check"></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="col download-div">
                                <i class="fas fa-download download-button"></i>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="col del-div">
                                <i class="fas fa-trash del-button"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr scope="row">
                            <td>
                                {{ item.revisao }}
                            </td>
                            <td>
                                {{ item.nome }}
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                {{ item.dateCriacao }}
                            </td>
                            <td>
                                <i class="fas fa-clipboard-check"></i>
                            </td>
                            <td>
                                <a href="#" class="download-item" download="{{ item.nome }}">
                                    <div class="col download-item-div">
                                        <i class="fas fa-download download-button"></i>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'products:Delete_Item' item.id %}" class="del-item">
                                    <div class="col del-item-div">
                                        <i class="fas fa-trash del-item-button"></i>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    {% for file in files %}
                        <tr scope="row">
                            <td>
                                {{ file.revisao }}
                            </td>
                            <td>
                                {{ file.nome }}
                            </td>
                            <td>
                                {{ file.tipo }}
                            </td>
                            <td>
                                {{ file.partNumber }}
                            </td>
                            <td>
                                {{ file.tipoFabricacao }}
                            </td>
                            <td>
                                {{ file.dateCriacao }}
                            </td>
                            <td>
                                <i class="fas fa-clipboard-check"></i>
                            </td>
                            <td>
                                <a href="#" class="download-file" download="{{ file.nome }}">
                                    <div class="col download-file-div">
                                        <i class="fas fa-download download-button"></i>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'products:Delete_file' file.id %}" class="del-file">
                                    <div class="col del-file-div">
                                        <i class="fas fa-trash del-file-button"></i>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>



{% endblock %}