{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Relação SN - OS{% endblock %}

{% block content %}

    <a href="{% url 'products:Generate_Single_SerialNumber' %}">
        <i class="far fa-arrow-alt-circle-left fa-2x"></i>
    </a>
    <div class="container title">
        <h1>Adicionar novo produto</h1>
    </div>
    <div class="offset-1 col-3 list-div">
        <form method="GET">

        </form>
        <form method="POST">
            {% csrf_token %}
            {% comment %} {{ serialNumberForm|crispy }} {% endcomment %}
            <div class="col-12 col-lg-6">
                <label for="os" class="lb-create-account"><strong>Ordem de Serviço</strong></label>
                <select name="os" class="select-workorder" id="os">
                    <option value="">Escolha um departamento</option>
                    {% for os in workorders %}
                        <option value="{{os.id}}">{{os.OS}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" class="btn btn-success" value="Gerar Número de Série">
        </form>
    </div>


{% endblock %}