{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Editar Tipo de Categoria{% endblock %}

{% block content %}

    <a href="{% url 'settings:Product_Settings' %}">
        <i class="far fa-arrow-alt-circle-left fa-2x"></i>
    </a>
    <div class="container title">
        <h1>Editar Tipo de Categoria</h1>
    </div>

    <div class="offset-1 col-3 list-div">
        <form method="POST">
            {% csrf_token %}
            {{ updateTip|crispy }}
            <input type="submit" class="btn btn-success" value="Editar produto">
        </form>
    </div>


{% endblock %}