{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Editar Itens{% endblock %}

{% block content %}

    <a href="#">
        <i class="far fa-arrow-alt-circle-left fa-2x"></i>
    </a>
    <div class="container title">
        <h1>Editar itens</h1>
    </div>

    <div class="offset-1 col-9 product-div">

        <div class="segment-update">
            <a href="{% url 'products:View_Segment_Products' %}" class="update-comum"> 
                <div class="col-3 div-comum-update">
                    <i class="fas fa-edit comum"></i>Editar Segmento
                </div>
            </a>
        </div>
        
        <div class="product-tip-update">
            <a href="{% url 'products:View_ProductTip_Products' %}" class="update-comum"> 
                <div class="col-3 div-comum-update">
                    <i class="fas fa-edit comum"></i>Editar Tipo de Produto
                </div>
            </a>
        </div>
        
        <div class="category-update">
            <a href="{% url 'products:View_Category_Products' %}" class="update-comum"> 
                <div class="col-3 div-comum-update">
                    <i class="fas fa-edit comum"></i>Editar Categoria
                </div>
            </a>
        </div>
        
        <div class="app-class-update">
            <a href="{% url 'products:View_Class_Products' %}" class="update-comum"> 
                <div class="col-3 div-comum-update">
                    <i class="fas fa-edit comum"></i>Editar Classe de Aplicação
                </div>
            </a>
        </div>
    </div>

{% endblock %}