{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Editar Segmento{% endblock %}

{% block content %}

    <a href="#">
        <i class="far fa-arrow-alt-circle-left fa-2x"></i>
    </a>
    <div class="container title">
        <h1>Editar Classe</h1>
    </div>

    <div class="offset-1 col-3 list-div">
        <form method="POST">
            {% csrf_token %}
            {{ updateClassProduct|crispy }}
            <input type="submit" class="btn btn-success" value="Editar produto">
        </form>
    </div>

{% endblock %}