{% extends 'base.html' %}

{% block title %}Adicionar Produtos{% endblock %}

{% block content %}

    <div class="offset-1 col-6 list-div">
        <form class = "form-horizontal" action = "." method = "POST">
            {% csrf_token %}
            <div class = "col-sm-6">
                <div class = "form-group">
                    <label for = "idProduto" class = "required">Tipo do Produto:</label>
                    <select class="custom-select mr-sm-2" name = "produto" id = "idProduto">
                        <option selected> </option>
                        <option value = "AC">Acessório</option>
                        <option value = "CC">Carregadeira</option>
                        <option value = "CD">Chapa de desgaste</option>
                        <option value = "CB">Chock bar</option>
                        <option value = "DF">Dispositivos e ferramentas</option>
                        <option value = "ER">Engate rápido</option>
                        <option value = "CE">Escavadeira</option>
                        <option value = "FP">Ferramenta de penetração de solo</option>
                        <option value = "GA">Garfo</option>
                        <option value = "CG">Graniteira</option>
                        <option value = "LA">Lâmina</option>
                        <option value = "LN">Lança</option>
                        <option value = "RI">Ripper</option>
                        <option value = "SG">Segmento</option>
                        <option value = "VA">Vala</option>
                        <option value = "SE">Serviço</option>        
                    </select>
                </div>
                <div class = "form-group">
                    <label for = "idNomeProduto" class = "required">Nome do Produto:</label>
                    <input type = "text" name = "nomeProduto" id = "idNomeProduto">
                </div >
                <div class = "form-group">
                    <label for = "idEquipamento" class = "required">Equipamento:</label>
                    <input type = "text" name = "equipamento" id = "idEquipamento">
                </div>
                <div class = "form-group">
                    <label for = "idVolume" class = "required">Volume (m³):</label>
                    <input type = "number" name = "volume" id = "idVolume">    
                </div>
                <div class = "form-group">
                    <label for="idLargura" class = "required">Largura (mm):</label>
                    <input type = "number" name = "largura" id = "idLargura">
                </div>
                <div class = "form-group">
                    <label for = "idLamina" class = "required">Lâmina (mm):</label>
                    <input type = "number" name = "lamina" id = "idLamina">
                </div>
                <div class = "form-group">
                    <label for = "idPeso" class = "required">Peso (kg):</label>
                    <input type = "number" name = "peso" id = "idPeso">
                </div>
                <div class = "form-group">
                    <label for = "idCodigoProduto" class = "required">Código do Produto:</label>
                    <input type = "number" name = "codigoProduto" id = "idCodigoProduto">
                </div>
                <div class = "form-group">
                    <input type = "submit" class = "btn btn-success" value = "Criar Produto">
                </div>
            </div>
        </form>
    </div>

{% endblock %}