{% extends 'base.html' %}

{% block title %}Adicionar Produtos{% endblock %}

{% block content %}

    <div class="offset-1 col-6 list-div">
        <form method="POST">
            {% csrf_token %}
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="idSegmentoProduto" class="required">Segmento do produto</label>
                    <select class="custom-select mr-sm-2" name="segmentoProduto" id="idSegmentoProduto">
                        <option selected> </option>
                        <option value="A">Agrícola</option>
                        <option value="C">Construção</option>
                        <option value="F">Florestal</option>
                        <option value="I">Industrial</option>
                        <option value="U">Automotiva</option>
                        <option value="M">Mineração</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="idNomeProduto" class="required">Nome do Produto:</label>
                    <input type="text" name="nomeProduto" id="idNomeProduto">
                </div >

                <div class="form-group">
                    <label for="idEquipamento" class="required">Equipamento:</label>
                    <input type="text" name="equipamento" id="idEquipamento">
                </div>
                
                <div class="form-group">
                    <label for="idCapacidade" class="required">Capacidade (m³):</label>
                    <input type="number" name="capacidade" id="idCapacidade">    
                </div>

                <div class="form-group">
                    <label for="idLargura" class="required">Largura (mm):</label>
                    <input type="number" name="largura" id="idLargura">
                </div>

                <div class="form-group">
                    <label for="idLamina" class="required">Lâmina (mm):</label>
                    <input type="number" name="lamina" id="idLamina">
                </div>

                <div class="form-group">
                    <label for="idPeso" class="required">Peso (kg):</label>
                    <input type="number" name="peso" id="idPeso">
                </div>

                <div class="form-group">
                    <label for="idCodigoProduto" class="required">Código do Produto:</label>
                    <select class="custom-select mr-sm-2" name="codigoProduto" id="idCodigoProduto">
                        <option selected> </option>
                        <option value="AC">Acessório</option>
                        <option value="CC">Carregadeira</option>
                        <option value="CD">Chapa de desgaste</option>
                        <option value="CB">Chock bar</option>
                        <option value="DF">Dispositivos e ferramentas</option>
                        <option value="ER">Engate rápido</option>
                        <option value="CE">Escavadeira</option>
                        <option value="FP">Ferramenta de penetração de solo</option>
                        <option value="GA">Garfo</option>
                        <option value="CG">Graniteira</option>
                        <option value="LA">Lâmina</option>
                        <option value="LN">Lança</option>
                        <option value="RI">Ripper</option>
                        <option value="SG">Segmento</option>
                        <option value="VA">Vala</option>
                        <option value="SE">Serviço</option>        
                    </select>
                </div>

                <div class="form-group">
                    <label for="idClasseProduto" class="required">Classe do Produto</label>
                    <select class="custom-select mr-sm-2" name="classeProduto" id="idClasseProduto">
                        <option selected> </option>
                        <option value="6 SW">Classe 6 SW</option>
                        <option value="6 LH">Classe 6 LH</option>
                        <option value="7 SW">Classe 7 SW</option>
                        <option value="7 LH">Classe 7 LH</option>
                        <option value="7S SW">Classe 7S SW</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="idDente" class="required">Número de dentes:</label>
                    <input type="number" name="dente" id="idDente">
                </div>

                <div class="form-group">
                    <label for="idDurezaProduto">Dureza do Produto</label>
                    <select class="custom-select mr-sm-2" name="durezaProduto" id="idDurezaProduto">
                        <option selected> </option>
                        <option value="GD">Geral</option>
                        <option value="HD">Pesado</option>
                        <option value="SD">Severo</option>
                        <option value="XD">Extremo</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="idPartNumber" class="required">PartNumber:</label>
                    <input type="text" name="partNumber" id="idPartNumber">
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Default file input</label>
                    <input class="form-control" type="file" id="formFile">
                </div>

                <input type="submit" class="btn btn-success" value="Criar Produto">
            </div>
        </form>
    </div>

{% endblock %}