{% extends 'base.html' %}

{% block title %}Produtos{% endblock %}

{% block content %}
    
    <div class="offset-1 col-10 product-div">
        <h1>Produtos</h1>
        <a href="./newproduct" class="add-product"> 
            <div class="col-2 add-div">
                <i class="fas fa-plus"></i>Adicionar Produto
            </div>
        </a>
        <div class="col-3 search-div">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do produto">
            <!-- <i class="fas fa-search"></i> -->
        </div>    
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Segmento</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Equipamento</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Largura</th>
                    <th scope="col">Lâmina</th>
                    <th scope="col">Peso</th>
                    <th scope="col">PartNumber</th>
                    <th scope="col">Visualizar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            {% for product in products %}
            <tbody id="product-table">
                <tr scope="row">
                </tr>
                <td>
                    {{product.id}}
                </td>
                <td>
                    {{product.segmentoProduto}}
                </td>
                <td>
                    {{product.nomeProduto}}
                </td>
                <td>
                    {{product.equipamento}}
                </td>
                <td>
                    {{product.codigoProduto}}
                </td>
                <td>
                    {{product.classeProduto}}
                </td>
                <td>
                    {{product.capacidadeProduto}}
                </td>
                <td>
                    {{product.larguraProduto}}
                </td>
                <td>
                    {{product.laminaProduto}}
                </td>
                <td>
                    {{product.pesoProduto}}
                </td>
                <td>
                    {{product.partNumber}}
                </td>
                <td>
                    <a href="#" class="icon view-product">
                        <div class="col">
                            <i class="far fa-eye"></i>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'Update_Product' product.id %}" class="icon edit-product">
                        <div class="col">
                            <i class="fas fa-edit"></i>
                        </div>
                    </a>
                </td>
            </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}